<h1>Listing transcriptions</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Description</th>
      <th>Pictures</th>
      <th>Transcription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transcriptions.each do |transcription| %>
  <tr>
    <td><%= transcription.title %></td>
    <td><%= transcription.description %></td>
    <td><%= image_tag transcription.picture_url(:thumb) if transcription.picture.present? %></td>
    <td><%= link_to 'Show', transcription %></td>
    <td><%= link_to 'Edit', edit_transcription_path(transcription) %></td>
    <td><%= link_to 'Destroy', transcription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transcription', new_transcription_path %>
